
<ul class="nav nav-pills" id="topmenu">
  <li class="nav-item">
    <a class="nav-link @(ViewBag.Current == "Admin" ? "active" : "")" asp-area="" asp-controller="Admin" asp-action="Index">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @(ViewBag.Current == "Users" ? "active" : "")" asp-area="" asp-controller="User" asp-action="Index">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @(ViewBag.Current == "Roles" ? "active" : "")" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

