@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    ViewBag.Current = "Roles";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<partial name="~/Views/Admin/_PartialAdminMenu.cshtml" />
<h2>Roles</h2>
<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "writepolicy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="">Edit</a>
                        <html>|</html>
                        <a asp-action="Delete" asp-route-id="">Delete</a>
                        <html>|</html>
                    }
                    <a asp-action="Details" asp-route-id="">Details</a>
                </td>
            </tr>

        }
    </tbody>
</table> 